.no-padding{ padding:0;}

.ads-resume {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	width:100%;
	margin-top:20px;
}
.ads-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 45%;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%;
    padding: 30px 0;
}
.ads-progress-counter {
    display: block;
    font-size: 1.84615rem;
    line-height: 1;
}
.ads-legend,.ads-users{ margin-top:20px;}
.progress-bar{    height: 0.5rem;}

.widget-value-title{  
    padding: 12px 0;
    width: 100%;
    margin-bottom: 0;
 }
  .widget-value{ font-size: 1.84615rem; }
 .widget-title{font-weight: 300; color: #545454; display:block;}
.ads-progress .progress{ height:4px;}
.compaign-update{ height:103px; vertical-align:bottom; position:relative;}
.compaign-update img{ position:absolute; bottom:0;  width:100% !important; }
.btn-tab-group{ display:flex;}
.btn-tab{ font-size:12px; flex:1;}